@charset "UTF-8"; 
.my-class {color: blue; background-color: lightblue;border: 1px solid blue; text-align: center;padding: 1em;background-image: url("../images/galaxy.jpg")
}

.my-container {
    color: black;
    border: 1px solid blue;
    background-color: grey;
text-align: center; margin-left: 30px; margin-right: 30px; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" }

.my-id   {font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif", cursive; text-align: center
}