@charset "utf-8";
.my-container {
    color: black;
    border: 1px solid black;
	text-align: center
}
.id {
	text-align: center;
	image align: center;
}
.class {
    text-align: center;
    background-color: lightgray;
    border-radius: 63px;
}
		