@charset "utf-8";
.my-class {color: black;
    border: 1px solid blue;
    text-align: center;
    background-color: lightblue;
}
.my-container {color: black;
    border: 1px solid blue;
    text-align: center;
    background-color: lightblue;
	margin-right: 100px;
	margin-left: 100px;
}
.my-id {color: black; margin-right: 100px;
	margin-left: 100px; border: double
}
