@charset "utf-8";
.my-container {
    color: black;
	border: 1px solid black; 
	background-color: gray;
	text-align: center
}
.id {
	image align: center;
	padding: 0.5em;
	text-align: center
}
.class {
color: black; 
padding: 0.5em;
text-align: center
}
.body {
background-color: lightgray}
.TA  {
text-align: center}